body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, form, fieldset, legend, input, textarea, p, blockquote, th, td a {
    font-family: Lato,"Microsoft YaHei",sans-serif;
}

.ui-post-title {
    font-family: Lato,"Microsoft YaHei",sans-serif !important;
    font-size: 28px;
    border-bottom: 0;
}

.header-wrapper .header-right-wrap .nav .nav-item a {
    font-family: helvetica neue,luxi sans,dejavu sans,segoe ui,hiragino sans gb,microsoft yahei,sans-serif;
    font-size: 20px;
    text-decoration: none;
    -webkit-transition: color 0.3s;
    transition: color 0.3s;
    text-rendering: optimizeLegibility;
}

.content-wrapper {
    padding: 110px 15px 80px 15px;
    min-height: calc(100vh - 80px - 60px - 160px);
    max-width: 860px;
    margin: 0 auto;
}

.content__default:not(.custom) > h1:first-child {
    margin-top: -7rem;
    margin-bottom: 1rem;
}

#mobile-header .mobile-header-title {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    padding: 0.9em;
}

.vuepress-toc {
    position: fixed;
    display: block;
    max-height: 100vh;
    max-width: 220px;
    overflow-y: auto;
    padding-top: 5rem;
    top: 0;
    right: 10px;
    box-sizing: border-box;
    z-index: 0;
}